BUILD_BRANCH=master
WORK_DIR=# path to persistent working directory
STORE_BRANCH=gh-pages
STORE_DIR=commit-data
GH_USERNAME=# github username to push commits
GH_ACCESS_TOKEN=# personal access token to authenticate the above user
PROFILER_BIN=$WORK_DIR/async-profiler-1.7/profiler.sh
JTASKSTATS_BIN=$WORK_DIR/jtaskstats-0.2.0/jtaskstats
