name: CI
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11, 17, 21]
    steps:
    - uses: actions/checkout@v4
    - name: Setup java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: |
          ${{ matrix.java }}
          21

    - name: Execute test
      uses: eskatos/gradle-command-action@v1
      with:
        # Java is installed on JAVA_HOME_{java major version}_X64
        # refs: https://github.com/actions/setup-java/tree/v4.1.0?tab=readme-ov-file#install-multiple-jdks
        arguments: |
          -Ptest.java.major.version=${{ matrix.java }}
          -Porg.gradle.java.installations.fromEnv=JAVA_HOME_${{ matrix.java }}_X64
          build jmhJar integrationTest

  json-schema:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 21
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Issue json schemas
      run: ./gradlew jsonschema:build

    - name: Validate sample json with schema
      run: ./scripts/validate-jsonschema.sh

    - name: Check no diff
      run: |
        git status --porcelain
        if [[ -n $(git status --porcelain) ]]; then
          echo "Untracked files or changes detected. Run ./gradlew jsonschema:build" and commit the changes.
          exit 1
        fi
